.centered-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-small {
  font-size: 20px !important;
}

.color-gray {
  color: gray;
}

.new-topic-btn {
  font-size: 12px;
  border: thin solid #eee;
  // margin-top: 10px;
}
