<div class="container">
  <mat-list>
    <mat-nav-list>
      <ng-container *ngFor="let subtopic of subtopics">
        <app-subtopic-list-item
          [subjectId]="subjectId"
          [topicId]="topicId"
          [subtopic]="subtopic"
        ></app-subtopic-list-item>
      </ng-container>
      <a *ngIf="topicId" mat-list-item class="color-gray new-subtopic-btn" (click)="addNewSubtopic()">
        <mat-icon class="centered-icon icon-small" mat-list-icon>control_point</mat-icon> Add New Subtopic
      </a>
    </mat-nav-list>
  </mat-list>
</div>
